html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.App {
  text-align: center;
  color: rgba( 0, 74, 173, 1.0);
  background-color: ghostwhite;
  position: relative;
}
.home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.title {
  color: rgba(255, 22, 22, 1.0);
}
.section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 0;
}

.section svg {
    position: relative;
    display: block;
    width: calc(160% + 1.3px);
    height: 120px;
}

.section .shape-fill {
    fill: rgba( 0, 74, 173, 1);
}
.nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 30px;
}
.logo img {
  height: 300px;
  width: 300px;
}
.nav-right {
  display: flex;
  align-items: center;


}
.nav-right div {
  margin: 10px;
  cursor: pointer;

}
.nav-right div:hover {
  margin: 10px;
  cursor: pointer;
  border-bottom: 2px rgba( 0, 74, 173, 1) solid;
}

.slide-show-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.hero-image{
  max-height: 60vh;
  max-width: 60vw;
  
}
.hero-image img{
  height: 50vh;
  width: 100%;
  border: 2px double rgba(0, 73, 173);
}
.side-image {
  max-width: 20vw;
  max-height: 60vh;
}
.side-image img {
  width: 100%;
  height: 500px;
}
@media (max-width: 420px) {
  .side-image {
    display: none;    

  }
  
}
.gallery {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

}
.gallery div {
  margin: 4px;
  border: 2px double rgba(0, 0, 0, 1.0);
  border-radius: 25px;
}
.gallery img {
  height: 200px;
  width: 200px;
  border: 2px double rgba(0, 73, 173);
  border-radius: 25px;
}
.about-us {
  max-width: 100vw;
  z-index: -1;
  display: flex;
  flex-direction: column;
}
.textarea {
  height: 200px;
  width: 500px;

}

.consult-img-container {
  display: flex;
  justify-content: space-around;
  flex-wrap:  wrap;
}

.consult-img-div {
  max-width: 300px;  
}
.consult-img-div img {
  height: 275px;
  width: 275px;
  border-radius: 300px;
}
.consult-img-div img:hover {
  position: absolute;
  height: 275px;
  width: 275px;
  border-radius: 300px;
}
@media (max-width: 400px) {
  .consult-img-div img {
    display: flex;
    justify-content: space-around; 
    width: 100%;

  }
  
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgba( 0, 74, 173, 1.0);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {
  background-color: rgba( 0, 74, 173, .8);
}
.button:active {
  background-color: rgba( 0, 74, 173, .8);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: #e6e6e6;
}
.footer {
  position: relative;
  text-align: center;
  border-top: rgba( 255, 22, 22, 1) groove 20px;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
}
.link:hover {
  cursor: pointer;
  color: rgba( 255, 22, 22, 1);
}
.bottom-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 0;
}

.bottom-section svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 82px;
}

.bottom-section .shape-fill {
    fill: rgba( 255, 22, 22, 1);
}
.minicon {
  height: 40px;
}